@font-face {
    font-family: 'RobotoThin';
    font-weight: 100;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoExtraLight';
    font-weight: 200;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoLight';
    font-weight: 300;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoRegular';
    font-weight: 400;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoRegularItalic';
    font-weight: 400;
    font-style: italic;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoMedium';
    font-weight: 500;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoSemiBold';
    font-weight: 600;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoBold';
    font-weight: 700;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoExtraBold';
    font-weight: 800;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoBlack';
    font-weight: 900;
    src: url('assets/fonts/Roboto-VF.ttf') format("truetype");
}
