/* You can add global styles to this file, and also import other style files */
@import 'styles/resets/reset';
@import 'styles/fonts/fonts';
@import 'styles/common/button';

:root {
    --background-primary: #0b0c10;
    --background-secondary: #161d27;

    --border: #2e2e2e;

    --font-color-100: #f3f5f5;
    --font-color-200: #9aa1a9;
    --font-color-300: #9e9fa3;
    --font-color-400: #676e75;
    --font-color-500: #515862;

    --severity-low: #008000;
    --severity-medium: #fdd213;
    --severity-high: #f10700;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

// 1rem = 10px
html {
    font-size: 10px;
    background-color: var(--background-primary);
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;

    .root {
        display: flex;
        flex: 1;
        flex-direction: row;
        padding: 1rem;
      }
}

* {
    font-family: 'RobotoRegular';
    color: var(--font-color-100);
}

.awareness-widget {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app {
    display: flex;
    flex: 3;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}