/* You can add global styles to this file, and also import other style files */
@import 'styles/resets/reset';
@import 'styles/fonts/fonts';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

// 1rem = 10px
html {
    font-size: 10px;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;

    .root {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 1rem;
      }
}

* {
    font-family: 'RobotoRegular';
}